body {
	background-color: #2b303b;
}
.size {
	max-width: 1200px;
	margin: auto;	
	z-index: 1;
}
.panel{
	width: 500px;
}
.panel:hover {
	box-shadow: 0px 0px 10px 4px rgba(26, 188, 156, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(26, 188, 156, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(26, 188, 156, 0.75);

}
.tooltip-inner {
	max-width: 350px;
	/* If max-width does not work, try using width instead */
	width: 350px; 
	height: 650px;
}
.popover{
	max-width: 400px;
	max-height: 900px;
}
.raw{
	border: 5px solid black;
}
.index {
	margin-top: 80px;
}
.txt{
	text-align: justify;
}
.navbar-collapse{
	max-height: 100% !important;
	font-size: 12px !important;

}
.navbar-default{
	background-color: #1E222B !important;
	transition: width .4s;
	webkit-transition: width .4s; 
	position: fixed;


}
#eeh-navigation-page-wrapper {
	background-color: transparent !important;
	border: none !important;



}
.sidebar ul li{
	border-bottom: 1px solid #1F242D !important;


}
.sidebar{
	height: 1500px;
}
.menu{
	background-color: #1E222B ;
	position: fixed;
	width: 400px;
	height: 1500px;
}

nav.push-menu-left {
	top: 0;
	width: 300px;
	height: 100%;
}
nav.push-menu-left li {
	display: block;
	text-align: center;
	border-bottom: solid 1px #3184a1;
	border-top: solid 1px #b5dbe9;
}
nav.push-menu-left li:first-child {
	border-top: none
}
nav.push-menu-left li:last-child {
	border-bottom: none
}
nav.push-menu-left a {
	display: block;
	padding: 10px;
	font-size: 18px;
}
nav.push-menu-left button.close-menu {
	margin: 10px 0;
	padding: 10px 30px;
	background-color: #3184a1;
	color: #fff;
}
nav.push-menu-left {
	left: -300px
}
body.pml-open nav.push-menu-left {
	left: 0
}
body.pml-open #wrapper {
	left: 300px
}

.fleche{
	text-align: left;
}
.fleched{
	text-align: right;
}
.menutxt{
	margin-left:10px;
}
.paneltxt{
	font-size: 80%;
}
.panel-body{
	padding-top: 0;
}
.panel-footer{
	padding-top: 0;
	padding-bottom: 0;

}
.label{
	padding-bottom:2px;
}
hr{
	margin-bottom: 0;
}