body {
	background-color: #2b303b;
    font-size: 16px;
}
.size {
	max-width: 1200px;
	margin: auto;	
	z-index: 1;
}
.panel{
	width: 500px;



}
.panel:hover {
	box-shadow: 0px 0px 10px 4px rgba(26, 188, 156, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(26, 188, 156, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(26, 188, 156, 0.75);

}
.tooltip-inner {
	max-width: 350px;
	/* If max-width does not work, try using width instead */
	width: 350px; 
	height: 650px;
}
.popover{
	max-width: 400px;
	max-height: 900px;
}

.index {
	margin-top: 80px;
}
.txt{
	text-align: justify;
}
.navbar-collapse{
	max-height: 100% !important;
	font-size: 12px !important;

}
.navbar-default{
	background-color: #1E222B !important;
	transition: width .4s;
	webkit-transition: width .4s; 
	position: fixed;


}
#eeh-navigation-page-wrapper {
	background-color: transparent !important;
	border: none !important;



}
.sidebar ul li{
	border-bottom: 1px solid #1F242D !important;


}
.sidebar{
	height: 1500px;
}
.menu{
	background-color: #1E222B ;
	position: fixed;
	width: 400px;
	height: 1500px;
}

nav.push-menu-left {
	top: 0;
	width: 300px;
	height: 100%;
}
nav.push-menu-left li {
	display: block;
	text-align: center;
	border-bottom: solid 1px #3184a1;
	border-top: solid 1px #b5dbe9;
}
nav.push-menu-left li:first-child {
	border-top: none
}
nav.push-menu-left li:last-child {
	border-bottom: none
}
nav.push-menu-left a {
	display: block;
	padding: 10px;
	font-size: 18px;
}
nav.push-menu-left button.close-menu {
	margin: 10px 0;
	padding: 10px 30px;
	background-color: #3184a1;
	color: #fff;
}
nav.push-menu-left {
	left: -300px
}
body.pml-open nav.push-menu-left {
	left: 0
}
body.pml-open #wrapper {
	left: 300px
}

.fleche{
	text-align: left;
}
.fleched{
	text-align: right;
}
.menutxt{
	margin-left:15px;
}
.paneltxt{
	font-size: 80%;
}
.panel-body{
	padding-top: 0;
	height: 70px;
}
.panel-footer{
	padding-top: 0;
	padding-bottom: 0;

}

.tag{
	padding-bottom:2px;
	margin: 2px;
}


hr{
	margin-bottom: 0;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '2 .column.column-1-2';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {

}

.deckgrid .column-1-4 {
    width: 25%;
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }

    .deckgrid .column-1-1 {
        width: 100%;
    }
}

.hb {
    position: absolute;
    top: 90px;
    left: 10px;
    font-size: 20pt;
    font-weight: 600;
    color: #1ABC9C;  

    opacity: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled .hb {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hb-small {
    position: absolute;
    top: 90px;
    left: 10px;
    font-size: 20pt;
    font-weight: 600;
    color: #1ABC9C;

    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled .hb-small {
    opacity: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.test {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}


.raw{
	border: 4px solid black;
	padding: 10px;
}

.raw-title {
	font-size: 18px;
	color: green;
}

.raw-link {
	margin:0;
	margin-top: 5px;
	padding-left: 20px; 	
}

.border {
	border: 2px solid black;
}

.filter {
    line-height: 35px !important;
    text-indent: 0 !important;
    list-style-type: none;
    vertical-align: text-bottom;
}


.filter-block {
    padding-left: 25px;
}

.filter-select {
	width: 75%;
	height: 25px;
	font-size: 13px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: inline-block;
	margin-left: 5px;   
	background: #0F1116;
    color: #999999;
}

.filter-select:focus {
	border-color: #1ABC9C;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

.filter-select option {
	padding-left: 5px;
}

.filter-select option:hover {
	background: #1ABC9C !important;
}

