

.sidebar-nav #one (
    @name: menu,
    @t: 0.3s,
    @func: ease,
){
    opacity: 0;
    -moz-animation: @name @t @func forwards;
    -webkit-animation: @name @t @func forwards;
    animation: @name @t @func forwards;
}

.sidebar-nav #two{
    opacity: 0;
    -moz-animation: menu 0.5s ease 0.5s forwards;
    -webkit-animation: menu 0.5s ease 0.5s forwards;
    animation: menu 0.5s ease 0.5s forwards;
}
.sidebar-nav #three{
    opacity: 0;
    -moz-animation: menu 0.5s ease 1s forwards;
    -webkit-animation: menu 0.5s ease 1s forwards;
    animation: menu 0.5s ease 1s forwards;
}
.sidebar-nav #four{
    opacity: 0;
    -moz-animation: menu 0.5s ease 1.5s forwards;
    -webkit-animation: menu 0.5s ease 1.5s forwards;
    animation: menu 0.5s ease 1.5s forwards;
}
.sidebar-nav #five{
    opacity: 0;
    -moz-animation: menu 0.5s ease 2s forwards;
    -webkit-animation: menu 0.5s ease 2s forwards;
    animation: menu 0.5s ease 2s forwards;
}
.sidebar-nav #six{
    opacity: 0;
    -moz-animation: menu 0.5s ease 2.5s forwards;
    -webkit-animation: menu 0.5s ease 2.5s forwards;
    animation: menu 0.5s ease 2.5s forwards;
}
.sidebar-nav #seven{
    opacity: 0;
    -moz-animation: menu 0.5s ease 3s forwards;
    -webkit-animation: menu 0.5s ease 3s forwards;
    animation: menu 0.5s ease 3s forwards;
}
.sidebar-nav #eight{
    opacity: 0;
    -moz-animation: menu 0.5s ease 3.5s forwards;
    -webkit-animation: menu 0.5s ease 3.5s forwards;
    animation: menu 0.5s ease 3.5s forwards;
}
.sidebar-nav #nine{
    opacity: 0;
    -moz-animation: menu 0.5s ease 4s forwards;
    -webkit-animation: menu 0.5s ease 4s forwards;
    animation: menu 0.5s ease 4s forwards;
}
/*
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li{
    display: inline-block;
    margin-right: 20px
}
*/
@-moz-keyframes menu {
    0% {
        -moz-transform: translateX(220px);
    }
    100% {
        -moz-transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes menu {
    0% {
        -webkit-transform: translateX(220px);
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@keyframes menu {
    0% {
        transform: translateX(220px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
