<div class= "topspace"style="">
  <div id="page-wrap">
  <div class="centre topspace" style="width:auto;"><pre class="art">
    ▄▄▄      ▓█████▄ ▓█████▄     ▄▄▄▄    ▄▄▄        ██████ ▓█████
   ▒████▄    ▒██▀ ██▌▒██▀ ██▌   ▓█████▄ ▒████▄    ▒██    ▒ ▓█   ▀
   ▒██  ▀█▄  ░██   █▌░██   █▌   ▒██▒ ▄██▒██  ▀█▄  ░ ▓██▄   ▒███
   ░██▄▄▄▄██ ░▓█▄   ▌░▓█▄   ▌   ▒██░█▀  ░██▄▄▄▄██   ▒   ██▒▒▓█  ▄
    ▓█   ▓██▒░▒████▓ ░▒████▓    ░▓█  ▀█▓ ▓█   ▓██▒▒██████▒▒░▒████▒
    ▒▒   ▓▒█░ ▒▒▓  ▒  ▒▒▓  ▒    ░▒▓███▀▒ ▒▒   ▓▒█░▒ ▒▓▒ ▒ ░░░ ▒░ ░
     ▒   ▒▒ ░ ░ ▒  ▒  ░ ▒  ▒    ▒░▒   ░   ▒   ▒▒ ░░ ░▒  ░ ░ ░ ░  ░
     ░   ▒    ░ ░  ░  ░ ░  ░     ░    ░   ░   ▒   ░  ░  ░     ░
         ░  ░   ░       ░        ░            ░  ░      ░     ░  ░
              ░       ░               ░
                                                      </pre></div>

  <form class="form-horizontal" role="form">

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Title</label>
      <div class="col-sm-9">
        <input ng-model="title" type="title" class="form-control" id="title" placeholder="Enter title">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" >Link:</label>
      <div class="col-sm-9">
        <input type="link" ng-blur="getDescription(link);getTitle(link)" ng-model="link" class="form-control" id="lnk" placeholder="Enter link">
      </div> </div>


       <div class="form-group">
      <label class="control-label col-sm-2" >Description:</label>

      <div class="col-sm-9">
        <input type="description" ng-model="description" class="form-control" id="dscr" placeholder="Enter description">
      </div>
    </div>

<div class="">
      <div class="form-group" >
            <label class="control-label col-sm-7" >Type:</label>
            <div class="col-sm-4">
        <select data-toggle="select" ng-model="type" class="form-control select select-default ">
          <option>Challenge</option>
          <option>Board</option>
          <option>Blog</option>
          <option>IRC</option>
          <option>VPN</option>
        </select>
      </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-7" >Language:</label>
        <div class="col-sm-4">

        <select data-toggle="select" ng-model="lang" class="form-control select select-default">
          <option>us</option>
          <option>fr</option>
          <option>de</option>
          <option>es</option>
          <option>tr</option>
          <option>cn</option>
          <option>jp</option>
        </select>
      </div>
      </div>
</div>
    <div class="form-group" >
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" ng-click="addLink(title,description)" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form></div>
</div>
