<div class="centre">

<div class="centre topspace" style="width:525px;"><pre class="art">
  ________          ____
  / ____/ /_  ____ _/ / /__  ____  ____ ____  _____
 / /   / __ \/ __ `/ / / _ \/ __ \/ __ `/ _ \/ ___/
/ /___/ / / / /_/ / / /  __/ / / / /_/ /  __(__  )
\____/_/ /_/\__,_/_/_/\___/_/ /_/\__, /\___/____/
                                /____/             
                                                    </pre></div>
<table >
  <div >
    <thead >
        <tr>
            <th>Challenges</th>
            <th></th>
        </tr>

    </thead>
    <tbody ng-repeat="chall in challenges">
        <tr>
            <td>"{{chall.title}}" </td>
            <td>{{chall.description}}</td>
        </tr>

</tbody>
</table>

</div>
</div>
