<div class="topspace">

<div class="centre" style="width:600px;"><pre class="art">
  _________ .__           .__  .__
  \_   ___ \|  |__ _____  |  | |  |   ____   ____    ____   ____   ______
  /    \  \/|  |  \\__  \ |  | |  | _/ __ \ /    \  / ___\_/ __ \ /  ___/
  \     \___|   Y  \/ __ \|  |_|  |_\  ___/|   |  \/ /_/  >  ___/ \___ \
   \______  /___|  (____  /____/____/\___  >___|  /\___  / \___  >____  >
          \/     \/     \/               \/     \//_____/      \/     \/
                                                    </pre></div>
<div>
<table>

    <thead >
        <tr>
            <th>Challenges</th>
            <th></th>
            <th></th>

        </tr>

    </thead>
    <tbody>
        <tr ng-repeat="chall in challenges  | orderBy:title">
            <td>{{chall.title}}</td>
            <td>{{chall.link}}</td>
            <td>{{chall.description}}</td>
        </tr>

      </tbody>

</table>
</div>
</div>
