<br/>
<br/>
<br/>
<div class="size" ui-view="filters"></div>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- infosec -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1029441716643371"
     data-ad-slot="5863532645"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- Panel View -->
<!-- {lang: lang, tags: ['tag5','tag2'], isup: hideDownLinks ? true : '' } -->
<div masonry  ng-if="!show" infinite-scroll='limited("Board")' infinite-scroll-disabled='base.busy' infinite-scroll-distance='0' class="centre" >
	<div class="masonry-brick panel panelpanel panpanel-default" ng-repeat="n in links | filterLinks:lang:hideDownLinks:tags | orderBy : sortBy" >
	<!--| orderBy : sortBy -->
		<div class="panel-heading">
			<h3 class="panel-title pantitle txt">
				<a href="{{n.link}}" target="_blank"><i class=" {{n.lang}} flag"></i>
				{{n.title}}
			</a>
				<div style="float: right; width: 90px;text-align:right;">
				<a data-toggle="tooltip" data-placement="top" title="Tor" href="{{n.tor}}">
				<img  ng-if='n.tor' class="tor" src="assets/torlogo.png">
				</a>
				<span data-toggle="tooltip" data-placement="top" title="Private" ng-if="n.private" class="fa fa-lock fa-md fa-fw"></span>
					<a data-toggle="tooltip" data-placement="top" title="Alexa rank: {{n.rank}}" href="http://www.alexa.com/siteinfo/{{n.link}}" target="_blank">
						<span class="">A</span>
					</a>

					<span class="glyphicon glyphicon-ok" style="color:green" ng-show="{{n.isup}}" data-toggle="tooltip" data-placement="top" title="Online"></span>
					<span class="glyphicon glyphicon-remove" style="color:red" ng-hide="{{n.isup}}" data-toggle="tooltip" data-placement="top" title="Offline"></span>
				</div>
			</h3>
		</div>
		<div class="panel-bod paneltxt">
			{{n.description}}
		</div>
		<div class="foot panel-footer">
			<a href="" class="tag label label-default tag-custom {{tags.indexOf(tag) > -1 ? 'tag-custom-selected' : ''}}" ng-repeat="tag in n.tags" ng-click="addTag(tag)">
				#{{tag}}
			</a>
		</div>
	</div>
</div>

<!-- Raw View -->
<div masonry ng-if="show" class="centre" isotope-container="isotope-container">

	<div class="masonry-brick panel  panelraw panpanel-default " ng-repeat="l in languages">

		<div class="panel-heading" style="text-align:left;">
			<i class="{{l}} flag"></i>
			<span class="raw-title">{{fullLanguageName(l)}}</span>
		</div>
		<ul class="raw-link">
			<li ng-repeat="n in rawLinks | filter: {lang: l} | filterLinks:'':hideDownLinks:tags | orderBy : sortBy" title="{{n.title}}" data-trigger="hover" bs-popover data-html="true" data-animation="am-fade-and-scale" data-content="
				{{n.description}}
				<img src='http://security-base.com/assets/screenshots/{{n.title}}.png' class='img-thumbnail panel-thumb'></img>
				">
				<a href="{{n.link}}" target="_parent">
					{{n.title}}
				</a>
			</li>
		</ul>

	</div>


</div>
