
<br>
<br>

        <div class="col-md-2">
          <div class="bootstrap-switch-square">
            <input type="checkbox" href="/test" data-toggle="switch" data-on-text="<i class='fui-check'></i>" data-off-text="raw"  id="custom-switch-03" />
          </div></div>


<div ng-repeat="n in links track by $index">
		<div>&nbsp;</div>

		<div class="panel pan panpanel-default size ">
		  <div class="panel-heading">
			<h3 class="panel-title pantitle">



			<a href="{{n.link}}"><i class="{{n.lang}} flag"></i></span>{{n.title}}</a></h3>



		  </div>
		  <div class="panel-body panbod">
		  {{n.description}}

		  </div>
		  <div class="foot panel-footer"><span class="tag label label-default">#Default</span></div>
		</div>
	</div>




