<div class="topspace">
    <div class="centre" style="width:800px;"><pre class="art">
      ██▓ ██▀███   ▄████▄      ▄████▄   ██░ ██  ▄▄▄       ███▄    █  ███▄    █ ▓█████  ██▓      ██████
     ▓██▒▓██ ▒ ██▒▒██▀ ▀█     ▒██▀ ▀█  ▓██░ ██▒▒████▄     ██ ▀█   █  ██ ▀█   █ ▓█   ▀ ▓██▒    ▒██    ▒
     ▒██▒▓██ ░▄█ ▒▒▓█    ▄    ▒▓█    ▄ ▒██▀▀██░▒██  ▀█▄  ▓██  ▀█ ██▒▓██  ▀█ ██▒▒███   ▒██░    ░ ▓██▄
     ░██░▒██▀▀█▄  ▒▓▓▄ ▄██▒   ▒▓▓▄ ▄██▒░▓█ ░██ ░██▄▄▄▄██ ▓██▒  ▐▌██▒▓██▒  ▐▌██▒▒▓█  ▄ ▒██░      ▒   ██▒
     ░██░░██▓ ▒██▒▒ ▓███▀ ░   ▒ ▓███▀ ░░▓█▒░██▓ ▓█   ▓██▒▒██░   ▓██░▒██░   ▓██░░▒████▒░██████▒▒██████▒▒
     ░▓  ░ ▒▓ ░▒▓░░ ░▒ ▒  ░   ░ ░▒ ▒  ░ ▒ ░░▒░▒ ▒▒   ▓▒█░░ ▒░   ▒ ▒ ░ ▒░   ▒ ▒ ░░ ▒░ ░░ ▒░▓  ░▒ ▒▓▒ ▒ ░
      ▒ ░  ░▒ ░ ▒░  ░  ▒        ░  ▒    ▒ ░▒░ ░  ▒   ▒▒ ░░ ░░   ░ ▒░░ ░░   ░ ▒░ ░ ░  ░░ ░ ▒  ░░ ░▒  ░ ░
      ▒ ░  ░░   ░ ░           ░         ░  ░░ ░  ░   ▒      ░   ░ ░    ░   ░ ░    ░     ░ ░   ░  ░  ░
      ░     ░     ░ ░         ░ ░       ░  ░  ░      ░  ░         ░          ░    ░  ░    ░  ░      ░
                  ░           ░
                                                        </pre></div>



  <div masonry class="centre" isotope-container="isotope-container">

    <div ng-repeat="serv in servs" class="masonry-brick  panelraw panpanel-default " >

      <div class="panel-heading">

        <span class="raw-title">{{serv.name}}</span><br>
        <span class="raw-title">{{serv.adr}}/{{serv.port}}</span>
      </div>
      <ul  class="raw-link">
        {{links}}
        <li ng-repeat="n in ircs | filter: {server: serv.name}"
        data-trigger="hover"
         bs-popover data-html="true" data-animation="am-fade-and-scale"
         data-content="{{n.description}}">

          <a ng-if="isLink(n.description)"  href="{{n.description}}" target="_blank">
          {{n.channel}}</a>
          <span ng-if="!isLink(n.description)" style="color:#999999" >
          {{n.channel}}</span>

        </li>
      </ul>

    </div>


  </div>


</div>
