<div>
<td valign="top">
    <p></p>
    <br>
    <div>
        <ul id="aanav">English&nbsp;&nbsp;

        </ul>
    </div>
    

    <p></p>
    <a href="http://zenk-security.com/" title="Zenk-Security" data-toggle="popover" data-content=



"&lt;img src=&quot;http://i.imgur.com/tQAkEcc.png&quot; height=&quot;150&quot; width=&quot;350&quot;&gt;
&lt;br&gt;
La communauté zenk-security a pour objet principal la sécurité informatique, nous sommes des touches à tout, des fouineurs, nous expérimentons à tout va et nous partageons sans autre restriction que le respect.
"


    target="_blank">ZenkSecurity</a>
    <br>

</div>
</td>



<br><br><br><br><br><br><br><br><br><br>
<script>
$(function () {
  $('[data-toggle="popover"]').popover({
  	html:true,
  	trigger:'hover focus',
  	placement:'right',


  })
});
</script>
